.logo {
    display: flex;
  justify-content: center;
  text-align: center;
  padding: 10px;
  color: #fff;
}
.containerleftlogo{
    width:40px;
    height:40px;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:1.5rem;
    border-radius:50%;
    background: rgba(28,17,41,0.88);
}