.Container {
  padding: 20px;
  
}

.content-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.breadcrumb {
  cursor: pointer;
  color: #1677ff;
  text-decoration: underline;
}

.breadcrumb:hover {
  color: #0056b3;
}
