.inner-container {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }

  .customTitle {
    text-align: left;
    margin-bottom: 20px;
  }
  
  .detail-item {
    display: flex;
    align-items: center;
    font-size: 16px;
  }
  
  .detail-text {
    margin-left: 8px;
  }
  
  .bold {
    font-weight: bold;
  }
  
  .customButton {
    width: 100%;
    height: 40px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 8px;
  }
  
  .content-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }
  
  .benefit-card {
    width: 100%;
    border-color: rgb(212, 228, 255);
    margin-top: 10px;
  }