@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}


html{
  font-size: 100%;
}

.ant-message {
  top: 80px !important;
}

.job-card {
  border-radius: 8px;
  background-color: white;
  transition: transform 0.3s;
}

.job-card:hover {
  transform: translateY(-5px);
}
